# yamllint disable rule:line-length
---
sudo: required

language: rust

matrix:
  include:

    - os: linux

    - os: osx
      osx_image: xcode10

    - os: windows

cache:
  cargo: true

# before_script:
#   - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then rm "C:/Program Files/Git/usr/bin/sh.exe"; fi

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      docker run --rm -it -v "$PWD":/home/rust/src ekidd/rust-musl-builder sh -c "cargo build --release";
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] || [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
      cargo build --release;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
      cd target/release;
      7z a -tzip ../../ntripping_windows.zip ntripping.exe;
      cd ../..;
      VERSION="$(git describe --always --tags --dirty)";
      mv ntripping_windows.zip "ntripping-${VERSION}-windows-x86_64.zip";
      ls -l;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      tar -C "target/release" -czf ntripping_macos.tar.gz ntripping;
      VERSION="$(git describe --always --tags --dirty)";
      mv ntripping_macos.tar.gz "ntripping-${VERSION}-macos-x86_64.tar.gz";
      ls -l;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      tar -C "target/x86_64-unknown-linux-musl/release" -czf ntripping_linux.tar.gz ntripping;
      VERSION="$(git describe --always --tags --dirty)";
      mv ntripping_linux.tar.gz "ntripping-${VERSION}-linux-x86_64.tar.gz";
      ls -l;
    fi

_github_api_key: &_github_api_key
  api_key:
    secure: "XV1JaIjMGKaMwUSvWBHeXAD6+5o67mZedpROLmSPqklGjXUeeaLd08PmE+0XxQSI/O/s2d8oH5yX7H2luUQQ8hM/U33wRVuIGcsyM5QjeghNVylO/FdWnklTzDCeqdCXsJYhv/67VQbmapI9EfN0FErZgpbUWr7bT8fyDjfRCllsDWVqUf+aymhm4g3/sYWc1nbku7/L/ELrxbzob5YTQdGd2CuR+xp3i8hjGEFflc3UMuaI7skITEcBC1V93z4eHF7a1EZBPEESRxViGilU0/Bigb0qbBW56mrYLFdLZtM9JCSRNfajRNcy1htH+uZaBmvEdg1Y2BazCSlF/jBX50Tqke9mjgw2ZYyVm+Sm2ppUpd8ECXXy7BS1TI79VDvDJwcgaF3Vzt9k3x/nTlCsPwX0mWbmDLi01DAPTCBpuaecfUJbdcp3fTz649FXREJjARZcs8XJxOo13vUUVqfke0HClJluXjRur/lPQ1on0aTwJDGZ0m6cOzstxenWGWB3WkhxKSQocrejvuBZDa4Gc/iVTQuTo5lWOXx7D+1CNCDzF36/BPPzDnzGZ9N9/oFF2L5l9FNveeXdeL1rQjPXEUsGiSb6o+NgHYpQWFmKNYyrW9BKEkRuD3VtcEYsLC0bpj4ng0rr11vz6CideJ+D0dnE88FtDFSkXvtoQ3SLrdQ="

deploy:
  - provider: releases
    file_glob: true
    file: "ntripping-*windows*.zip"
    skip_cleanup: true
    "on":
      tags: true
      condition: "$TRAVIS_OS_NAME = windows"
    <<: *_github_api_key
  - provider: releases
    file_glob: true
    file: "ntripping-*macos*.tar.gz"
    skip_cleanup: true
    "on":
      tags: true
      condition: "$TRAVIS_OS_NAME = osx"
    <<: *_github_api_key
  - provider: releases
    file_glob: true
    file: "ntripping-*linux*.tar.gz"
    skip_cleanup: true
    "on":
      tags: true
      condition: "$TRAVIS_OS_NAME = linux"
    <<: *_github_api_key
...
